.wrapper{
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: 1px solid;
  padding: 5px;
  border-radius: 10px
}


.card{
  transition: 0.2s;
}

.card_qa{
  width: 100px;
  height: 100px;
  opacity: 0;
  transition: 0.2s;
}


img{
  width: 100px;
  height: 100px;
  transition: 0.2s;
}



.disabled{
  pointer-events: none;
  user-select: none;
}
