.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.cards{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  width: 500px

}