.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: url('./assets/bg.jpg'); */
  background-repeat: no-repeat;
  background-size: cover
}


.cards{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 500px;
  height: 500px
}