.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(145, 127, 51);
  background-repeat: no-repeat;
  background-size: cover
}

.round{
  font-size: 25px;
}


.cards{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  margin: 20px 0
}

.restart{
  width: 100px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: rgb(228, 157, 25);
  cursor: pointer
}